name: Publish to npm

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write
  contents: write

jobs:
  publish:
    name: Publish package to npm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org/"
          scope: '@tozielinski'

      - name: Update npm
        run: npm i -g npm@latest
      - run: npm ci
      - run: npm run build
      - run: npm whoami --registry=https://registry.npmjs.org
        env:
           NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm publish
        env:
           NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
